<div class="container-fluid">
    <div class="row" id="header">
        <div class="col-12">
            <div class="header">
                <h1>Eat-Da-Burger</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            {{#each burgers}} {{#unless devoured}} {{> burgers/burger-block devour=true}} {{/unless}} {{/each}}
        </div>

        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <div class="burgerGif">
                        <img src="/assets/img/burger.gif" width="400px">
                    </div>
                </div>
            </div>
<br>
            <div class="row">
                <div class="col-12">
                    <form class="burgerAddForm">
                        <input class="form-control form-control-lg" type="text" name="burger" id="burgerName" placeholder="burger, burger, burger.."> {{!--
                        <input type="text" name="burger" id="burgerName" placeholder="Add Burger" /> --}}
                        <br>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Add Burger</button>

                    </form>
                </div>
            </div>
        </div>

        <div class="col-4">
            {{#each burgers}} {{#if devoured}} {{> burgers/burger-block devour=false}} {{/if}} {{/each}}
        </div>
    </div>
</div>